<!doctype html>
<html>
<head>
<meta name="google-site-verification" content="928js1chNAXBjLQZMBYFl9RUO-GXakaqLXCpdmKsLs0" />
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">

<title>Petone Tennis Club</title>

<link rel="StyleSheet" href="./assets/css/petone.css" type="text/css">
<script type="javascript" language="javascript" src="./assets/js/jquery.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21834148-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>

	<div id="mainDiv">
		<div id="titleDiv">
			<div id="titleImg"> </div>
			<div id="titlePetoneImg">
			</div>
		<div id="menuDiv">
			<div class="menuItem" ><a href="./index.html">About the Club</a></div>
			<div class="menuItem" ><a href="./timetable.html">Timetable</a></div>
			<div class="menuItem" ><a href="./membership.html">Membership</a></div>
			<div class="menuItem" ><a href="./juniors.html">Juniors</a></div>
			<div class="menuItem" ><a href="./history.html">History</a></div>
			<div class="menuItem" ><a href="./committee.html">Committee</a></div>
			<div class="menuItem" ><a href="./contact.html">Contact Us</a></div>
			<div class="menuItem" ><a href="./links.html">Useful Info</a></div>
		</div>
	</div>

		<div id="bodyDiv">
			{{ content }}
		</div>
	</div>
</body>
</html>
